body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  height: 100%;
}

.list-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.container-grid {
  margin: 5px;
  position: relative;
}

.container-grid:hover {
  background: #000;
  opacity: 0.75;
  transition: ease 0.5s;
}

.card p {
  display: none;
}

.container-grid:hover p {
  display: block !important;
  color: #fff;
  font-weight: 800;
  left: 0;
  position: absolute;
  right: 0;
  text-transform: capitalize;
  top: 40%;
  transition: ease 0.5s;
  font-size: 24px;
  text-shadow: 2px 2px 2px black;
  padding: 0px 25px;
}

.card img {
  border: 1px solid #000;
  height: 100%;
  width: 100%;
}

.nav-bar ul{
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-bar ul li{
  display: block;
  padding: 0 10px;
}

.nav-bar ul li a {
  color: #264653;
}

.nav-bar ul li a:hover {
  color: #;
}
